header{background-color: rgb(219, 53, 53);
color: rgb(248, 182, 182);
display: flex;
justify-content: space-around;}
.cabecalho-imagem{width: 13%;}
li {
    display: inline-block;
}
h1 {
    margin: 0 39px;
    padding: 90px 0;
}